<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Entities</key>
	<array>
		<dict>
			<key>Name</key>
			<string>com.mycompany.syncexamples.Event</string>
			<key>ExtensionName</key>
			<string>com.mycompany.syncexamples.EventExtensions</string>
			<key>Relationships</key>
			<array>
				<dict>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.mycompany.syncexamples.Calendar</string>
							<key>RelationshipName</key>
							<string>events</string>
						</dict>
					</array>
					<key>Name</key>
					<string>calendar</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Target</key>
					<array>
						<string>com.mycompany.syncexamples.Calendar</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>com.mycompany.syncexamples.Calendar</string>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>title</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.mycompany.SyncExamples</string>
			<key>IdentityProperties</key>
			<array>
				<string>title</string>
			</array>
			<key>Relationships</key>
			<array>
				<dict>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.mycompany.syncexamples.Event</string>
							<key>RelationshipName</key>
							<string>calendar</string>
						</dict>
					</array>
					<key>Name</key>
					<string>events</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Target</key>
					<array>
						<string>com.mycompany.syncexamples.Event</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>Name</key>
	<string>SyncExamplesExtension</string>
</dict>
</plist>
