<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
	<array>
		<array>
				<string>Thomas</string>
				<string>Kevin</string>
				<string>Devang</string>
				<string>Kim</string>
				<string>Jerome</string>
				<string>Matthias</string>
		</array>
		<array>
				<string>Monday</string>
				<string>Tuesday</string>
				<string>Wednesday</string>
				<string>Thursday</string>
				<string>Friday</string>
		</array>
        <array>
                <string>meet with (person name) on (day of week)</string>
        </array>
	</array>
</plist>