<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFileAccessOutsideOfWidget</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Dropper</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.widget.dropper</string>
	<key>CFBundleName</key>
	<string>Dropper</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CloseBoxInsetX</key>
	<integer>63</integer>
	<key>CloseBoxInsetY</key>
	<integer>19</integer>
	<key>MainHTML</key>
	<string>Dropper.html</string>
</dict>
</plist>
