<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PrintDialogPDE</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.examples.print.pde.PrintDialogPDE</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PrintDialog PDE</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>47</string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>DFC01D58-0C4A-11D5-BB77-003065500EB8</key>
		<string>PrintDialogPDEPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>BCB07250-E57F-11D3-8CA6-0050E4603277</key>
		<array>
			<string>DFC01D58-0C4A-11D5-BB77-003065500EB8</string>
		</array>
	</dict>
</dict>
</plist>
