<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Zen Custom Client</string>
	<key>Entities</key>
	<dict>
		<key>com.mycompany.syncexamples.zensync.customentity</key>
		<array>
			<string>com.apple.syncservices.RecordEntityName</string>
			<string>Name</string>
			<string>Team</string>
			<string>Time1</string>
			<string>Time2</string>
		</array>
	</dict>
	<key>Type</key>
	<string>app</string>
</dict>
</plist>
